*/__pycache__
*/.git_obsl
*/*.png
*/*.gpulog
*/.DS_Store

*.pyc
visualizations/

PixArt-alpha/asset/*
PixArt-alpha/scripts/inference.sh
analysis_script/latents.sh
analysis_script/latents_avg.sh
T2I-CompBench-main/UniDet_eval/2D_spatial_eval.sh
PixArt-alpha/notebooks/inference.sh
Figures/*
**/wandb/*
sae_lens/checkpoints/*

cluster_logs/*
**/diffusers/
**/example_images/
**/output/
**/samples/
**/expert_weights/
**/latents/
**/sbatch_logs/*
**/__pycache__/*
**/mean_latents/*
**/patch_heatmaps/*
**/classifier_prep_latents/*
**/imgs_temp/*
**/saved_metrics/*
**/plots/*
**/results/*