*/__pycache__
*/.git_obsl
*/*.png
*/*.gpulog
*/.DS_Store

*.pyc
visualizations/

PixArt-alpha/asset/*
PixArt-alpha/scripts/inference.sh
analysis_script/latents.sh
T2I-CompBench-main/UniDet_eval/2D_spatial_eval.sh

**/wandb/*
sae_lens/checkpoints/*

cluster_logs/*
**/diffusers/
**/example_images/
**/output/
**/samples/
**/expert_weights/
**/latents/
**/sbatch_logs/*
**/__pycache__/*