beartype==0.14.1
python-dotenv==1.0.1
comm==0.2.2
grpcio==1.62.2
tinycss2==1.3.0
jupyter-console==6.6.3
config2py==0.1.36
yapf==0.40.1
annotated-types==0.7.0
accelerate==1.0.1
plotly==5.24.1
tornado==6.4.1
pooch==1.8.2
statsmodels==0.14.2
jupyter_client==8.6.2
huggingface_hub==0.23.4
tomli==2.0.1
triton==2.3.0
graze==0.1.27
stringcase==1.2.0
webcolors==24.6.0
jsonpointer==3.0.0
wandb==0.19.1
py2store==0.1.20
GitPython==3.1.43
nvidia-cufft-cu12==11.0.2.54
optimistix==0.0.7
jupyter-events==0.10.0
diffusers==0.31.0
tensorboard==2.17.0
python-json-logger==2.0.7
nvidia-cusolver-cu12==11.4.5.107
hyperframe==6.0.1
pycparser==2.22
joblib==1.4.2
numba==0.60.0
parso==0.8.4
lxml==4.9.4
Brotli==1.1.0
tqdm==4.66.4
cached-property==1.5.2
jsonschema-specifications==2023.12.1
automated-interpretability==0.0.6
tokenizers==0.19.1
wheel==0.43.0
sympy==1.13.1
transformer-lens==2.10.0
fsspec==2024.5.0
equinox==0.11.4
lazy_loader==0.4
nvidia-nccl-cu12==2.20.5
mmengine==0.10.5
datasets==2.20.0
Markdown==3.6
jaxtyping==0.2.36
soupsieve==2.5
terminado==0.18.1
json5==0.9.25
pyzmq==26.0.0
typing_extensions==4.12.2
Jinja2==3.1.4
nvidia-cuda-cupti-cu12==12.1.105
opt-einsum==3.3.0
tenacity==9.0.0
h5py==3.12.0
sentencepiece==0.2.0
webencodings==0.5.1
gdown==5.2.0
uvloop==0.21.0
Pygments==2.18.0
mamba-ssm==2.2.2
beautifulsoup4==4.12.3
typer==0.12.5
opencv-python==4.10.0.84
nvidia-curand-cu12==10.3.2.106
bleach==6.1.0
nbformat==5.10.4
fqdn==1.5.1
munkres==1.1.4
pandas==2.2.2
rfc3339-validator==0.1.4
smmap==5.0.1
pytest-profiling==1.8.1
notebook==7.2.1
stack-data==0.6.2
certifi==2024.8.30
jupyter_core==5.7.2
dol==0.2.94
PyQt5-sip==12.12.2
jsonschema==4.22.0
fastjsonschema==2.20.0
yarl==1.9.4
PySocks==1.7.1
pillow==10.3.0
boostedblob==0.15.5
argon2-cffi-bindings==21.2.0
kiwisolver==1.4.5
async-lru==2.0.4
executing==2.0.1
cbor2==5.6.5
mmcv==1.7.0
prometheus_client==0.20.0
jupyter-lsp==2.2.5
pure-eval==0.2.2
xformers==0.0.26.post1
cffi==1.16.0
jupyterlab_server==2.27.2
typing-utils==0.1.0
attrs==23.2.0
QtPy==2.4.1
tzdata==2024.1
termcolor==2.4.0
PyYAML==6.0.1
six==1.16.0
lineax==0.0.5
ipywidgets==8.1.3
pycryptodomex==3.20.0
overrides==7.7.0
gmpy2==2.1.5
pandocfilters==1.5.0
orjson==3.10.12
h11==0.14.0
importlib_resources==6.4.0
pkgutil_resolve_name==1.3.10
websocket-client==1.8.0
tiktoken==0.6.0
rpds-py==0.18.1
gitdb==4.0.11
jupyterlab_widgets==3.0.11
packaging==24.1
proglog==0.1.10
click==8.1.7
decorator==5.1.1
traitlets==5.14.3
imageio-ffmpeg==0.5.1
idna==3.7
widgetsnbextension==4.0.11
wcwidth==0.2.13
ninja==1.11.1.1
async-timeout==4.0.3
ptyprocess==0.7.0
filelock==3.15.4
Babel==2.14.0
bitsandbytes==0.43.3
PyQt5==5.15.9
einops==0.8.0
jupyter==1.0.0
threadpoolctl==3.5.0
docker-pycreds==0.4.0
ftfy==6.3.1
i2==0.1.45
aiosignal==1.3.1
platformdirs==4.2.2
sip==6.7.12
umap-learn==0.5.6
addict==2.4.0
tyro==0.8.8
scipy==1.14.0
networkx==3.3
uri-template==1.3.0
nbclient==0.10.0
pyparsing==3.1.2
python-dateutil==2.9.0
contourpy==1.2.1
referencing==0.35.1
jax==0.4.30
iniconfig==2.0.0
torch==2.3.0
peft==0.12.0
blobfile==2.1.1
jupyter_server==2.14.1
Werkzeug==3.0.3
scikit-learn==1.5.0
fancy-einsum==0.0.3
mpmath==1.3.0
jedi==0.19.1
simple-parsing==0.1.6
debugpy==1.8.2
typeguard==4.4.1
pynndescent==0.5.13
shellingham==1.5.4
jupyter_server_terminals==0.5.3
imageio==2.36.0
mat73==0.65
asttokens==2.4.1
trl==0.8.6
mistune==3.0.2
anyio==4.4.0
httpcore==1.0.5
nvidia-cuda-nvrtc-cu12==12.1.105
pyarrow==16.1.0
hf_transfer==0.1.8
argon2-cffi==23.1.0
llvmlite==0.43.0
httpx==0.27.0
notebook_shim==0.2.4
rich==13.7.1
text-unidecode==1.3
torchvision==0.19.0
absl-py==2.1.0
defusedxml==0.7.1
pip==24.0
matplotlib-inline==0.1.7
pydantic==2.10.2
requests==2.32.3
gprof2dot==2024.6.6
entrypoints==0.4
fire==0.6.0
librosa==0.10.2.post1
sniffio==1.3.1
nvidia-nvjitlink-cu12==12.4.127
timm==1.0.7
ipython==8.26.0
nvidia-cuda-runtime-cu12==12.1.105
prompt_toolkit==3.0.47
diffusion-core==0.0.71
audioread==3.0.1
charset-normalizer==3.3.2
docstring_parser==0.16
zstandard==0.22.0
dill==0.3.8
tensorboard-data-server==0.7.0
protobuf==3.20.3
diffrax==0.5.1
jupyterlab==4.2.3
xxhash==3.4.1
mdurl==0.1.2
pytest==8.3.4
nbconvert==7.16.4
safetensors==0.4.3
soxr==0.3.7
moviepy==1.0.3
nest_asyncio==1.6.0
jupyterlab_pygments==0.3.0
MarkupSafe==2.1.5
soundfile==0.12.1
multidict==6.0.5
matplotlib==3.8.4
patsy==0.5.6
exceptiongroup==1.2.0
msgpack==1.0.8
nvidia-cusparse-cu12==12.1.0.106
toml==0.10.2
rfc3986-validator==0.1.1
numpy==1.26.4
babe==0.0.7
pydantic_core==2.27.1
ply==3.11
zipp==3.19.2
Send2Trash==1.8.3
colorama==0.4.6
regex==2024.5.15
urllib3==2.2.2
jaxlib==0.4.30
frozenlist==1.4.1
h2==4.1.0
multiprocess==0.70.16
easydict==1.13
pyarrow-hotfix==0.6
fonttools==4.53.0
kaggle==1.6.17
better-abc==0.0.3
python-slugify==8.0.4
nvidia-nvtx-cu12==12.1.105
unicodedata2==15.1.0
seaborn==0.13.2
aiohttp==3.9.5
pluggy==1.5.0
types-python-dateutil==2.9.0.20240316
nvidia-cublas-cu12==12.1.3.1
hpack==4.0.0
qtconsole==5.5.2
sentry-sdk==2.19.2
psutil==6.0.0
markdown-it-py==3.0.0
setuptools==70.1.1
cycler==0.12.1
transformers==4.44.0
arrow==1.3.0
ipykernel==6.29.4
pickleshare==0.7.5
setproctitle==1.3.4
pytz==2024.1
structlog==21.5.0
plotly-express==0.4.1
unsloth==2024.8
isoduration==20.11.0
shtab==1.7.1
pexpect==4.9.0
nvidia-cudnn-cu12==8.9.2.26
ml-dtypes==0.4.0
nltk==3.9.1
importlib_metadata==8.0.0
